<div class="container__card-big">
  <div class="photo__big-card">
    <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="">
  </div>
  <div class="title__big-card">
    <h1>
      <a href="#">
        Here goes a title for some news!
      </a>
    </h1>
  </div>
  <div class="description__big-card">
    <p>
      <a href="#">
        In here goes a description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, eaque. Corporis sunt
        tempora eos obcaecati accusantium in. Numquam, delectus ullam quo facere reprehenderit natus dolor ad,
        asperiores
        incidunt ipsam sint.
      </a>
    </p>
  </div>
</div>
