<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-main-title></app-main-title>

<div class="container__articles">
  <div class="articles__main">
    <app-card-big
      photoImage="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
      cardTitle="Here goes a title for some news!"
      cardDescription="In here goes a description. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Eos, eaque. Corporis sunt tempora eos obcaecati accusantium in.
        Numquam, delectus ullam quo facere reprehenderit natus dolor ad, asperiores incidunt ipsam sint.">
      </app-card-big>
  </div>
  <div class="articles__secondary">
    <app-card-small
      photoImage="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
      cardTitle="title for small card">
    </app-card-small>
    <app-card-small
      photoImage="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
      cardTitle="title for small card 2">
    </app-card-small>
    <app-card-small
      photoImage="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
      cardTitle="title for small card 3">
    </app-card-small>
  </div>
</div>
